[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test = "py.test -rs ./src/"
autopep8 = "python -m autopep8 --in-place --aggressive --aggressive ./src/"
lint = "pylint ./src/*.py"

[dev-packages]
pytest = "*"
autopep8 = "*"
pylint = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"